$lime-green: #a1c900;
$button-blue: #83c4ff;
$blue-button-text-color: #222;
$review-star-blue: #4eaaff;
$review-star-gray: #ededed;
$search-bar-color: #555;
$product-details-nav-color: #06c;
$link-blue: #06c;
$light-gray: #e5e5e5;
$hex-gray: #666666;
$review-border-gray: #dddddd;
$review-input-field-border-gray: #cccccc;
