.checkout-banner {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hiker-banner {
  background-image: url(http://res.cloudinary.com/nequalszero/image/upload/v1484643181/osprey_20banner_20_optj2o.jpg);
  background-position: 0% 36%;
}

.osprey-banner {
  background-image: url(http://res.cloudinary.com/nequalszero/image/upload/v1484643071/osprey-packs_banner_bwdez5.jpg);
  background-position: 0% 50%;
}

.heimplanet-banner-1 {
  background-image: url(http://res.cloudinary.com/nequalszero/image/upload/v1484642881/33_banner_qlyf6o.png);
  background-position: 0% 64%;
}

.heimplanet-banner-2 {
  background-image: url(http://res.cloudinary.com/nequalszero/image/upload/v1484642839/heimplanet_tents_banner_etcajr.jpg);
  background-position: 0% 94%;
}

.tnf-banner {
  background-image: url(http://res.cloudinary.com/nequalszero/image/upload/v1484628896/33_banner_y8vner.jpg);
  background-position: 0% 45%;
}

.checkout-marmot-banner {
  background-image: url(http://res.cloudinary.com/nequalszero/image/upload/v1484287525/REI_Clone/Home_Page/marmot_bc_banner_icxhzl.jpg);
  background-position: 0% 72%;
}

.checkout-text-container {
  height: auto;
  width: 100%;
  max-width: 1200px;
  padding: 0px 30px;
  margin: 0 auto;
  font: 16px sans-serif;
  box-sizing: border-box;
}

.checkout-h2 {
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.checkout-text {
  padding-bottom: 50px;
}
