.blue-button {
  background-color: $button-blue;
  border: 1px solid $button-blue;
  color: $blue-button-text-color;
  text-align: center;
  font-weight: bold;
}

.rating-text {
  font-size: 14px;
  padding: 0px 2.5px;
}
