header{
  background-color: black;
  // background-size: contain;
  max-width: 100%;
}

.header-nav {
  min-width: 875px;
  max-width: 1140px;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 25px;
  margin: 0 auto;
  background-color: black;
}

.header-logo-container {
  display: flex;
  justify-content: center;
  height: 100px;
  max-width: 168px;
  padding-right: 30px;
}

.header-logo-container:hover {
  cursor: pointer;
}

.header-logo {
}

.categories-ul {
  display: flex;
  justify-content: flex-start;
}

.categories-ul > a {
  display: inline-block;
  padding-right: 25px;
  font: 18px sans-serif;
  font-weight: bold;
}

.categories-ul > a:hover {
  color: $lime-green;
  cursor: pointer;
}

.header-search-bar {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 420px;
  width: 42%;
  min-width: 245px;
  height: 40px;
  background-color: $search-bar-color;
  font: 18px sans-serif;
  font-weight: bold;
}

.search-bar-input {
  max-width: 360px;
  width: 75%;
  padding-left: 20px;
}

.search-button {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 12px;
  right: 0px;
  top: 0px;
}

.search-auth-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-auth-container-divider {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-line-divider {
  display: block;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
  margin-top: 16px;
}

.search-auth-categories-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

nav.authForms {
  min-width: 500px;
}

.logo-search-categories-container {
  display: flex;
}

.login-form-container {
  background-color: white;
}

nav.header-auth {
  display: flex;
  justify-content: flex-end;
  max-width: 510px;
  width: 100%;
  position: relative;
}

nav.header-auth > li {
  position: relative;
  list-style: none;
}

.visible-li {
  font: 16px sans-serif;
  padding: 10px;
  padding-top: 13px;
}

.visible-li:hover {
  color: $lime-green !important;
  cursor: pointer;
}

.login-form-container {
  position: absolute;
  border: 1px solid black;
  background-color: #fff;
  font: 20px sans-serif;
  min-height: 230px;
  max-height: 400px;
  width: 240px;
  color: black;
  top: 40px;
  right: -100px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  z-index: 1;
}

.login-form > label{
  font-weight: bold;
  margin-bottom: 8px;
}

.login-form > button{
  display: block;
  background-color: $button-blue;
  font-weight: bold;
  width: 188px;
  height: 27px;
  padding: 6px 24px;
  border: 1px solid $button-blue;
  margin-bottom: 20px;
  text-align: center;
}

.login-form-container:hover {
  cursor: default;
}

.login-form-container .login-input {
  display: block;
  font-weight: normal;
  width: 204px;
  height: 26px;
  padding: 6px 16px;
  border: 1px solid black;
}

.account-details-dropdown {
  position: absolute;
  cursor: default;
  border: 1px solid black;
  background-color: #fff;
  font: 20px sans-serif;
  height: 100px;
  width: 240px;
  color: black;
  top: 40px;
  right: -72px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  z-index: 1;
}

.account-details-container > button {
  display: block;
  background-color: $button-blue;
  font-weight: bold;
  width: 188px;
  height: 27px;
  padding: 6px 24px;
  border: 1px solid $button-blue;
  margin-bottom: 20px;
  text-align: center;
}

.num-cart-items {
  color: $lime-green;
  font-weight: bold;
}

.hidden-li {
  padding: 0px 0px;
}

.errors-list > li {
  display: block;
  color: red;
  font-size: 14px;
  padding-bottom: 20px;
}
